:root {
  color-scheme: light;
  font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  margin: 0;
  height: 100%;
}
